<nav class="navbar navbar-light bg-light fixed-top">
  <div class="navbar-logo">
    <h3>logo kap track</h3>
  </div>
  <div class="navbar-search">
    <div class="navbar-flex">
      <div>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
      <div>
        <ul class="navbar-items">
          <span class="flag-icon flag-icon-fr"><li class="dropdown dropdown-language nav-item" ></li></span>
          <li class="dropdown dropdown-user nav-item avatar"><%= image_tag "https://kitt.lewagon.com/placeholder/users/MaxenceLenoir", class: "avatar", alt: "avatar" %></li>
        </ul>
      </div>
    </div>
  </div>
</nav>



