<nav class="header-navbar navbar-expand-lg navbar navbar-with-menu fixed-top navbar-semi-dark navbar-shadow">
  <div class="navbar-wrapper">
    <div class="navbar-header expanded">
      <ul class="nav navbar-nav flex-row">
        <li class="nav-item mobile-menu d-lg-none mr-auto">1</li>
        <li class="nav-item mr-auto">Kap track logo</li>
        <li class="nav-item d-none d-lg-block nav-toggle">3</li>
        <li class="nav-item d-lg-none">4</li>
      </ul>
    </div>
    <div class="navbar-container content">
      <div class="collapse navbar-collapse" id="navbar-mobile">
        <ul class="nav navbar-nav mr-auto float-left">
          <li class="dropdown nav-item mega-dropdown d-none d-lg-block">5</li>
          <li class="nav-item d-none d-md-block"></li>
          <li class="nav-item nav-search"></li>
        </ul>
        <ul class="nav navbar-nav float-right">
          <span class="flag-icon flag-icon-fr"><li class="dropdown dropdown-language nav-item" ></li></span>
          <li class="dropdown dropdown-notification nav-item"></li>
          <li class="dropdown dropdown-notification nav-item"></li>
          <li class="dropdown dropdown-user nav-item avatar"><%= image_tag "https://kitt.lewagon.com/placeholder/users/MaxenceLenoir", class: "avatar", alt: "avatar" %></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
