<div class="banner">
  <div class="home-navbar">
    <ul>
      <div class="home-li"><li>Home</li></div>
      <div><li>Pricing</li></div>
      <div><li>Solution</li></div>
      <div><li>Discover</li></div>
      <div><li>Login</li></div>
    </ul>
  </div>
  <div class="banner-inner">
    <div class="banner-description">
      <h1>A single platform</h1>
      <p>we provide you a multitude of services from dashboard visualization of your objectives to management of your suppliers and stocks and clear maintenance of your menu, incredible isn't it ? </p>
      <div class="btn-cta-container">

        <div><%= link_to 'Start free trial', performances_path, class: 'btn-white' %></div>
      </div>

    </div>
    <div class="banner-image">
      <img src="https://plecto-website-2020.s3.amazonaws.com/images/UI_Screen_copy2x.max-1280x960.png" alt="">
    </div>
  </div>
</div>
<div class="container">
  <div class="landing-grid">
    <div class="home-slogan"><h2>Kaptrack is already used in 43 countries! </h2></div>
    <div class="home-image">
      <img src="https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8cmVzdGF1cmFudHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="">
    </div>
  </div>
</div>
<div class="container-home-description">
  <div class="home-self-description">
    <h4>We meet the objectives they have set for us with the same high standard... More than 50 customers trust us, and you ?</h4>
  </div>
</div>
<div class="container">
  <div class="partners-container">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCwLD2DpsUVJ5bDt2sOYCBXOLX31qCbNe63g&usqp=CAU" alt="">
    <img src="https://bcassetcdn.com/public/blog/wp-content/uploads/2019/07/18094833/the-red-cafe.png" alt="">
    <img src="https://png.pngtree.com/template/20190626/ourlarge/pngtree-logo-spoon-fork-with-leaves-for-your-restaurant-brand-or-business-image_216950.jpg" alt="">
    <img src="https://cdn6.f-cdn.com/contestentries/1556050/36341048/5d6c34942451c_thumb900.jpg" alt="">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCjw9UEBRLTjvoATvjpzVGHaO3vKAf3yObgg&usqp=CAU" alt="">
    <img src="https://i.pinimg.com/originals/a8/0a/9c/a80a9c4728c6105eb237daa7fbe73c89.jpg" alt="">
  </div>
</div>

<div class="footer">
  <ul>
    <div><li>
      <a href="#"><i class="fab fa-github"></i></a>
    </li></div>
    <div><li>
      <a href="#"><i class="fab fa-facebook-f"></i></a>

    </li></div>
    <div><li>
      <a href="#"><i class="fab fa-twitter"></i></a>

    </li></div>
  </ul>
</div>

