.btn-main {
  padding: 15px;
  border-radius: 15px;
  background-color: #587DCA;
  color: white;
}

.btn-container {
  display: flex;
  align-items: right;
  justify-content: center;
}

.btn-index-checklists {
  margin: 20px;
  right: 0;
}

.btn-checklists-show-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-checklist-show {
  margin-top: 50px;
  margin-right: 20px;
  position: fixed;
  right: 0;
}
  
.btn-container-show {
  display: flex;
  align-items: right;
  justify-content: center;
}

.btn-show-recipe {
  margin: 20px;
  position: fixed;
  right: 0;
}

.btn-show {
  padding: 15px;
  border-radius: 15px;
  background-color: #0B88EE;
  color: white;
}

.btn-search {
  color: #7594D4;
  margin-left: 5px;
  border-radius: 15px;
  border-color: #7594D4;
}
