.card-product {
  overflow: hidden;
  height: 200px;
  width: 98%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 15px;
  border-radius: 5px;
}

.card-product img {
  height: 100%;
  width: 200px;
  object-fit: cover;
  padding: 10px;
  border-radius: 15px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-infos {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 30px;
}

.container-2{
  display:flex;
  justify-content: space-between;
}

.container-supplier{
  display: flex;
  justify-content: center;
}

.container-address{
  display:flex;
  justify-content: center;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  grid-gap: 20px;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
}

.cards-container a {
  width: inherit;
}

.card-category-checklists {
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-left : 60px;
  margin-top: 50px;
}

.card-category-checklists-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-category-checklists-title {
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
  grid-gap: 20px;

}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-self: center;
  margin-left : 60px;
  margin-top: 50px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #DCDCDD;
  margin: 10px;
}

.card-container-show {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
}

.card-product-show {
  overflow: hidden;
  height: 500px;
  width: 90%;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-self: center;
  margin-top: 100px;
  border-radius: 15px;
  }

.card-product-show img {
  height: 80%;
  width: 300px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 15px;
  margin-left: 40px;
}

.card-product-show h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product-show p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-recipes-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



