.card-product {
  overflow: hidden;
  height: 200px;
  width: 98%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-self: center;
  align-items: center;
  margin: 15px;
  border-radius: 2px;
}

.card-product img {
  height: 100%;
  width: 200px;
  object-fit: cover;
  padding: 10px;
  border-radius: 2px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-infos {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 30px;
  background-color: white;
}



.container-2{
  display:flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
    p {
      color: #6cb4e4
;
    }
}

.container-supplier{
  display: flex;
  justify-content: center;
    p {
      color: #6cb4e4
;
    }
}

.container-address{
  display:flex;
  justify-content: center;
    p {
      color: #6cb4e4
;
    }
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  grid-gap: 20px;
  flex-wrap: wrap;
  margin-top: 112px;
  margin-bottom: 50px;
}

.cards-container a {
  width: inherit;
}

.card-category-checklists {
  background-size: cover;
  background-position: center;
  background-color: white;
  height: 180px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 2px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 0 auto;
  position:relative;
}

.card-category-checklist-image img {
  width: 100px;
  height: 100%;
  border-radius: 2px;
}


.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
  grid-gap: 20px;

}

.card-product-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #DCDCDD;
  margin: 10px 0px;
  padding-bottom: 6px;
}

.card-product-lots {
  overflow: hidden;
  height: 300px;
  width: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 2px;
  margin-top: 60px;
}

.card-category-checklists-title {
  color: #404E67;
  text-align:center;
}

.card-category-checklists a {
  height: 100%;
}


.image-checklists-container {
  height: 80px;
  padding: 5px;
}
