.container-show-checklist {
  width: 100%;
  margin: 0 auto;
}

.show-checklist {
  padding: 30px;
  border-radius: 6px;
  margin-bottom: 15px;

      p {
        text-align: center;
      }
}

#checklist_deadline_1i {
  color: #404F67;
}

#checklist_deadline_2i {
  color: #404F67;

}

#checklist_deadline_3i {
  color: #404F67;

}

.show-checklist-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid grey;
  padding-bottom: 25px;
}

.show-checklist-container-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.show-checklist-description {
  width: 500px;
  font-weight: 300;
}

.show-checklist-deadline {
  font-weight: 300;
}

.checklist-title h3 {
  font-weight: 600;
}

.checklists-bin {
  position: absolute;
  top: 0;
  right: 0;
    i {
      padding-right: 6px;
      padding-top: 6px;
      font-size: 18px;
      font-weight: 300;
    }
}
