.form-title {
  width: 300px;
  border: 1px solid #404F67;
}

.form-description {
  width: 500px;
  height: 100px;
  border: 1px solid #404F67;

}

.form-deadline {
  border: 1px solid #404F67;
}

.form-priority-level {
  border: 1px solid #404F67;
}

label {
  color: #404F67;
  font-weight: 300;
}

#checklist_deadline_1i {
  color: #404F67;
}

#checklist_deadline_2i {
  color: #404F67;

}

#checklist_deadline_3i {
  color: #404F67;

}

.form-recipes-description {
  height: 100px;
}

.form-meal-description {
  height: 100px;
}

.form-control {
  border-radius: 4px;
}

.form-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn:not(:disabled):not(.disabled) {
  color: #404F67;
  border: 1px solid #404F67;
  color: white;
}

.btn:not(:disabled):not(.disabled):hover {
  transition: all 0.2s ease-out;
  padding: 8px;
  border-radius: 4px;
  background-color: white;
  color: #404F67;
  border: 1px solid #404F67;
}

.form-check-input {
    position: absolute;
    margin-top: 0.5rem;
    margin-left: -1.25rem;
}

