.form-title {
  width: 300px;
  border: 1px solid #587DCA;
}

.form-description {
  width: 500px;
  height: 100px;
  border: 1px solid #587DCA;

}

.form-deadline {
  border: 1px solid #587DCA;
}

.form-priority-level {
  border: 1px solid #587DCA;
}

label {
  color: #587DCA;
}

#checklist_deadline_1i {
  color: #587DCA;
}

#checklist_deadline_2i {
  color: #587DCA;

}

#checklist_deadline_3i {
  color: #587DCA;

}

.form-recipes-description {
  height: 100px;
}

.form-meal-description {
  height: 100px;
}

.form-control {
  border-radius: 4px;
}

.form-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn:not(:disabled):not(.disabled) {
  color: #A1A1A0;
  border: 1px solid #A1A1A0;
}

.btn:not(:disabled):not(.disabled):hover {
  background-color: grey;
}



