.form-title {
  width: 300px;
  border: 1px solid #587DCA;
}

.form-description {
  width: 500px;
  height: 100px;
  border: 1px solid #587DCA;

}

.form-deadline {
  border: 1px solid #587DCA;
}

.form-priority-level {
  border: 1px solid #587DCA;
}

label {
  color: #587DCA;
}

#checklist_deadline_1i {
  color: #587DCA;
}

#checklist_deadline_2i {
  color: #587DCA;

}

#checklist_deadline_3i {
  color: #587DCA;

}

.form-recipes-description {
  height: 100px;
}

.form-meal-description {
  height: 100px;
}


.container-show-checklist {
  width: 100%;
  margin: 0 auto;
}

.show-checklist {
  padding: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin-bottom: 15px;
    h3 {
      text-align: center;
      border-bottom: 1px solid #DCDCDD;
    }
      p {
        text-align: center;
      }
}
