.header-recipe {
  display: flex;
  justify-content: space-between;
  height: 75px;
  align-items: center;
}

.header-checklist {
  display: flex;
  justify-content: space-between;
  height: 75px;
  align-items: center;
}