.flag-icon .flag-icon-fr li {
  margin-left: 20px;
}

.navbar-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
}

.nav .navbar-nav {
  display: none!important;
  flex-direction: none !important;

}

.navbar-items {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav {
 flex-wrap: wrap;
}

li {
  text-decoration: none;
  list-style:none;
}

.mb-lg-0, .my-lg-0  {
  padding-left: 150px;
}

.nav-link {
  font-weight: 300;
  color: #404E67;
  margin-left: 15px;
}

.nav-link a {
  color: #404E67;
}

.navbar-light .navbar-nav .nav-link {
  color: #404E67;
 }

.navbar-light .navbar-nav .nav-link:hover {
  opacity: 0.5;
}

.active {
  border-bottom: 2px solid #F8C3A7;
}






