.sidebar-container {
  height: 100vh;
  position: sticky;
  top: 0;
}

.headers-sidebar {
  background-color: #404E67;
  color: white;
  width: 240px;
  flex-shrink: 0;

  .avatar-large {
    width: 56px;
    border-radius: 50%;
  }

  .side-link {
    color: white;
    font-size: 24px;
    text-decoration: none;
  }
  a {
    font-size: 14px;
  }
}

.container-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-headers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  h2 {
    margin-top: 80px;
    font-size: 14px;
  }
}

.side-link:hover {
  opacity: 0.6;
  text-decoration: none;
  }

.d-flex .sidebar-container {
  margin-right: 50px;
}


.container-headers h2 a {
 font-size: 14px !important;
}

