<div class="container">
  <div class="cards-container">
    <% @checklists.each do |checklist| %>
      <div class="card-category-checklists">
        <div class="checklists-bin">
          <%= link_to checklist_path(checklist), method: :delete, class:'btn-icons', data: { confirm: "Are you sure?"} do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <%= link_to checklist_path(checklist) do%>
        </div>
          <div class="image-checklists-container">
            <div class="card-category-checklist-image">
              <% if checklist.photo.attached? %>
              <%= cl_image_tag checklist.photo.key %>
            <% end %>
            </div>
          </div>
          <div class="card-category-checklists-container">
            <div class="card-category-checklists-title">
              <%= checklist.title %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

