
<div class="container">
  <h1>new products</h1>
  <%= simple_form_for(@product) do |f| %>
    <%= f.input :name %>
    <%= f.input :measure_unit %>
    <%= f.button :submit %>
  <% end %>
</div>

<% console %>
