<br>
<br>
<div class="container">
    <h2>Update your performance</h2>
    <%= simple_form_for [@performance] do |f| %>
      <%= f.input  :date, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.button :submit, "Select this period", class: "btn btn-primary" %>
    <% end %>
</div>